.input-row {
  display: flex;
  margin: 0;
  padding-bottom: 1%;
}

.input-form {
  width: 500px;
  font-family: 'Cutive Mono', monospace;
}

.input-item {
  margin-left: 1%;
  font-weight: lighter;
}
