.outcomes {
  border: thin solid orange;
  }
.outcomes-text {
  color: orange;
}

.list-block {
  padding: 50px;
}

.title-block {
  border: thin solid red;
}
.title-item {
  background: blue;
}
.title-text {
  color: red;
}

.todo-block {
  border: thin solid blue;
  margin-left: 1%;
}
.todo-item {
  background: green;
}
.todo-text {
  color: blue;
}

.subtodo-block {
  border: thin solid green;
  margin-left: 3%;
}
.subtodo-item {
  background: red;
}
.subtodo-text {
  color: green;
}
